.rightbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rightbar__container {
  border-bottom: 1px solid gray;
}

.rightbar__container > h1 {
  font-size: 18px;
  margin: 20px 0px;
  color: gray;
}

.rightbar__sponsors {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.rightbar__sponsors > img {
  height: 150px;
  border-radius: 10px;
}

.rightbar__text {
  font-size: 10px;
  padding: 15px;
}

.rightbar__text > h4 {
  color: gray;
  font-weight: 400;
  font-size: 13px;
  margin: 5px 0px;
}
