.header {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(71, 71, 71, 0.75);
}

.header__input {
  display: flex;
  align-items: center;
  margin-top: 5px;
  background-color: #edecec;
  padding: 15px;
  height: 15px;
  margin-left: 10px;
  border-radius: 999px;
  width: 200px;
}

.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
  width: 100%;
}

.header__input > .MuiSvgIcon-root {
  color: rgb(128, 128, 128);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
}

.header__left > img {
  height: 38px;
  margin-top: 9px;
  cursor: pointer;
}

.header__middle {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  flex: 1;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}

.header__option > .MuiSvgIcon-root {
  color: gray;
}

.header__option:hover > .MuiSvgIcon-root {
  color: #1778f2;
}

.header__option--active > .MuiSvgIcon-root {
  color: #1778f2;
}

.header__option--active {
  border-bottom: 4px solid #1778f2;
}

.header__option:hover {
  background-color: #edecec;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}

.header__info:hover > .MuiSvgIcon-root {
  color: #1778f2;
}

.header__right {
  display: flex;
}
